@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'SN Pro';
    font-weight: 350;
}

body {
    background-color: #EAF1FF;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 15px;
}

.titulo {
    font-size: 17px;
    font-weight: 350;
}

.descrição {
    color: grey;
    margin-bottom: 30px;
    font-size: 16px;
}

.AdicionarNotas {
    margin-bottom: 30px;
    margin-top: 4px;
}

.NovaNotas {
    background-color: #F3F3F5;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px
}

.NovaNotas::placeholder {
    font-size: 14.5px;
    font-weight: 390;
}

.Adicionar {
    color: white;
    background-color: #030213;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin-left: 7px;
    cursor: pointer;
}

.Adicionar:hover {
    box-shadow: 5px 5px 5px rgb(173, 171, 171);
}

.SecConjNotas {
    margin-bottom: 30px;
}

.ConjNotas {
    background-color: #F3F3F5;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-top: 4px
}

.ConjNotas > p {
    color: rgb(104, 104, 104);
    font-size: 14.5px;
    font-weight: 390;
}

.CalcMedia {
    width: 100%;
    color: white;
    background-color: #030213;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin-bottom: 25px;
    cursor:pointer;
}

.ContMedia {
    display: none;
}

.ContMediaOn {
    background-color: #F0FDF4;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(249, 176, 176);
}

.CalcMedia:hover {
    box-shadow: 5px 5px 5px rgb(173, 171, 171);
}

.Resultado {
    color: red;
    font-size: 20px;
    font-weight: 600;
}